// config
@import '../../scss/config/_variables';
@import '../../scss/config/_mixins';
@import '../../scss/config/_media';

.footer {
    color: $white;
    font-family: 'Roboto Light';
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &__content {
        background-color: rgba($darkolive, .85);
        display: flex;
        flex-wrap: wrap;
        padding: rem(26px) 0 rem(30px);
    }

    &__col {
        flex: 1;
        border-left: 1px solid rgba($white, .2);
        padding: 0 rem(30px) rem(22px) rem(30px);

        &:first-child {
            border-left: none;
        }

        @include desktops {
            padding-bottom: rem(3px);
        }

        @include tablets {
            padding-bottom: rem(22px);

            &--quote {
                padding-top: rem(30px);
                padding-bottom: 0;
                width: 100%;
                flex: auto;
                border-left: none;
            }
        }

        @include phones {
            width: 100%;
            flex: auto;
            border-left: none;
            border-top: 1px solid rgba($white, .2);
            text-align: center;

            &:first-child {
                border-top: none;
            }
        }
    }

    &__copy {
        background-color: rgba($lightgreen, .85);
        text-align: center;
        padding: rem(7.5px);
    }

    &__quote {
        font-style: italic;
        opacity: .5;

        &-author {
            font-weight: 700;
        }
    }

    &__nav {
        margin-bottom: rem(25px);

        @include desktops {
            margin-bottom: rem(21px);
        }
    }
}

.nav {

    &__list {
        margin: 0 0 0 rem(-10px);
        padding: 0;
        list-style: none;
        max-width: 405px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    &__item {
        display: inline-block;
        margin-left: rem(10px);
    }

    &__link {
        color: $white;
        text-decoration: none;
        font-family: 'Roboto Medium';
        font-weight: 500;
    }
}