doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name = 'viewport', content = 'initial-scale=1.0,width=device-width')
        title Добро пожаловать
    body
        .intro
            .intro__card#intro_card
                .card.card--front
                    .card__content
                        .card__photo
                            .card__image
                        h2.card__user-name Феер Александр
                        p.card__desc Личный сайт веб разработчика
                        .card__socials.socials
                            ul.socials__list
                                li.socials__item
                                    a(href="#").socials__link
                                        svg.icon.icon-soc.icon-vk
                                            use(xlink:href="#vk")
                                li.socials__item
                                    a(href="#").socials__link
                                        svg.icon.icon-soc.icon-gh
                                            use(xlink:href="#github")
                                li.socials__item
                                    a(href="#").socials__link
                                        svg.icon.icon-soc.icon-in
                                            use(xlink:href="#in")
                    .card__btns
                        button.btn.btn--card.btn--green Мои работы
                        button.btn.btn--card.btn--green Обо мне
                        button.btn.btn--card.btn--green Блог
                .card.card--back
                    form.card__tag-form
                        .card__content
                            h4.card__title.title.title--middle.title--white Авторизуйтесь
                            label.card__label
                                input(name='login' type='text' placeholder='Логин' id="login").card__label-input
                                .card__label-icon
                                    svg.icon.icon-login
                                        use(xlink:href="#login")
                            label.card__label
                                input(name='password' type='password' placeholder='Пароль' id="password").card__label-input
                                .card__label-icon
                                    svg.icon.icon-password
                                        use(xlink:href="#password")
                            label.controls-label
                                input(type="checkbox" name="human" hidden).controls-input
                                span.controls-fake.controls-fake--checkbox
                                    svg.icon.icon-check
                                        use(xlink:href="#check")
                                span.controls-text Я человек
                            .card__controls.controls
                                span.controls-title Вы точно не робот?
                                label.controls-label.controls-label--radio
                                    input(type="radio" name="sure" hidden).controls-input
                                    span.controls-fake.controls-fake--radio
                                    span.controls-text Да
                                label.controls-label.controls-label--radio
                                    input(type="radio" name="sure" checked hidden).controls-input
                                    span.controls-fake.controls-fake--radio
                                    span.controls-text Не уверен
                        .card__btns
                            button.btn.btn--card.btn--green#front На главную
                            button.btn.btn--card.btn--green Войти

            a.intro__btn.btn.btn--transparent#front_btn Авторизоваться
            .intro__footer &copy; Феер Александр | создано с любовью в Loftschool | 2017