.form {
  border-radius: rem(5px);
  overflow: hidden;
  width: 380px;
  text-align: center;

  &__body {
    padding: rem(20px);

    &--green {
      background-color: rgba($darkgreen, .6);
    }
  }

  &__row {
    margin-bottom: rem(20px);
  }

  &__label {
    height: rem(45px);
    display: flex;
    width: 100%;
    border-radius: rem(45px);
    overflow: hidden;
    position: relative;

    &-icon {
      width: rem(45px);
      height: rem(45px);
      background-color: $gray;
      position: relative;
      cursor: pointer;

      .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }

    &-input {
      border: none;
      outline: none;
      flex: 1 1 auto;
      padding: 0 rem(18px);

      @include placeholder {
        color: rgba($darkolive, .5);
        font-family: 'Roboto';
      }
    }
  }

  &__btns {
    display: flex;
  }
}