.title {
  font-size: rem(63px);
  text-transform: uppercase;
  font-family: 'Sansus Webissimo';
  position: relative;
  padding-bottom: rem(14px);
  margin-top: rem(18px);
  letter-spacing: 0.025em;
  margin-bottom: rem(30px);
  color: $olive;
  text-align: center;

  &:after {
    content: '';
    width: rem(89px);
    height: rem(3px);
    background-color: $olive;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &--middle {
    font-size: rem(35px);
    max-width: rem(280px);
    letter-spacing: normal;
    padding-bottom: 27px;
    margin: 0 auto;
    line-height: 1.17;
  }

  &--white {
    color: $white;

    &:after {
      background-color: $white;
    }
  }
}