@import "../../scss/main";

$leftcolor: #ebefe2;
$rightcolor: #f4f5f0;
$colorstroke: #dfdcd5;
$olive:#566358;
$green:#4e8839;
$headercolor: #93c42e;

.about {
  display: flex;
  color: $olive;
  flex-wrap: wrap;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__triangle {
    position: absolute;
    bottom: 100%;

    &-left {
      fill: $leftcolor;
    }

    &-right {
      fill: $rightcolor;

      @media (max-width: 768px) {
        fill: $leftcolor;
      }
    }
  }

  &__left {
    width: 50%;
    position: relative;
    background-color: $leftcolor;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 16px 20px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 80px 20px 40px 20px;
    }

    @media (max-width: 480px) {
      padding: 60px 0 12px 0;
    }
  }

  &__title {
    margin-top: rem(-66px);
    width: 49%;

    @media (max-width: 1200px) {
      width: auto;
      margin-bottom: 30px;
    }

    @media (max-width: 480px) {
      margin-bottom: 21px;
    }

    &-bg {
      fill: $headercolor;
      opacity: .1;
      margin: 0 auto;
      display: block;
      width: 357px;

      @media (max-width: 768px) {
        height: 90px;
      }

      @media (max-width: 480px) {
        height: 70px;
      }
    }

    &-wrapper {
      position: relative;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      position: absolute;

      @media (max-width: 768px) {
        font-size: 49px;
        padding-bottom: 5px;
        margin-top: 3px;
      }

      @media (max-width: 480px) {
        font-size: 35px;
        margin-bottom: 10px;
        padding-bottom: 12px;
        margin-top: 10px;
      }
    }
  }

  &__content {
    width: 51%;

    @media (max-width: 1200px) {
      width: auto;
      max-width: rem(440px);
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      max-width: 472px;
    }
  }

  &__image {
    width: 100%;
    max-height: rem(390px);
    overflow: hidden;
    margin-bottom: 41px;
    text-align: center;

    @media (max-width: 768px) {
      max-height: 417px;
    }

    @media (max-width: 480px) {
      max-height: 284px;
      margin-bottom: 34px;
    }
  }

  &__avatar {
    max-width: 100%;
    display: inline-block;
  }

  &__desc {
    font-family: 'Roboto';
    font-weight: 400;

    @media (max-width: 480px) {
      padding: 0 10px;
    }

    p {
      margin-bottom: 10px;
      line-height: 1.5;

      @media (max-width: 480px) {
        line-height: 1.75;
      }
    }
  }

  &__right {
    background-color: $rightcolor;
    width: 50%;
    position: relative;
    padding: rem(20px) rem(15px) rem(16px) rem(39px);

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
      padding: rem(45px) rem(20px) rem(16px) rem(20px);
    }

    @media (max-width: 480px) {
      padding: rem(35px) rem(20px) 0 rem(20px);
    }
  }

  &__subtitle {
    margin-top: rem(-9px);
    margin-bottom: rem(25px);

    @media (max-width: 768px) {
      margin-bottom: rem(17px);
    }

    .title {
      @media (max-width: 768px) {
        padding-bottom: 14px;
        letter-spacing: -1px;
      }

      @media (max-width: 480px) {
        font-size: 22px;
        padding-bottom: 16px;
        line-height: 1.3;
      }
    }
  }

  &__useful {
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 46px;

    @media (max-width: 480px) {
      line-height: 1.7;
      text-align: left;
      margin-bottom: 20px;
    }
  }
}

.skills {

  &__list {
    list-style: none;
  }

  &__item {
    

    @media (min-width: 481px) and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__row {

    &-title {
      font-size: rem(28px);
      font-weight: 500;
      letter-spacing: rem(0.1px);
      margin-bottom: rem(10px);

      @media (max-width: 768px) {
        font-size: rem(23px);
      }
    }

    &-list {
      list-style: none;
      margin-left: rem(-36.5px);
    }

    &-item {
      display: inline-block;
      margin-left: rem(36.5px);
      margin-bottom: rem(34px);
    }
  }
}

.circular {
  width: 120px;
  height: 120px;
  position: relative;

  @media (max-width: 1200px) {
    width: 110px;
    height: 110px;
  }

  &__svg {
    fill: rgba($white, 0);
    stroke: $colorstroke;
    width: 100%;
    height: 100%;
  }

  &__span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $green;
    font-weight: 500;
    font-size: rem(14px);
    text-align: center;

    @media (max-width: 1200px) {
      font-size: rem(13px);
    }
  }
}