.slider__desc
    .slider__content
        h3.slider__title.title.title--middle Сайт школы онлайн образования
        .slider__skills HTML, CSS, JAVASCRIPT
        a(href="#0").slider__link
            svg.slider__link-icon
                use(xlink:href="#link")
            span.slider__link-span Посмотреть сайт
.slider__screen
    img(src=require("../../img/slider/site-1.png")).slider__screen-img
.slider__switch
    .slider__switch-col
        img(src=require("../../img/slider/site-2.jpg")).slider__switch-img
        a(href="#0").slider__switch-link.slider__switch-link--prev
            svg.slider__switch-icon
                use(xlink:href="#portf_arrow_down")
    .slider__switch-col
        img(src=require("../../img/slider/site-3.jpg")).slider__switch-img
        a(href="#0").slider__switch-link.slider__switch-link--next
            svg.slider__switch-icon
                use(xlink:href="#portf_arrow_up")