* {
    margin: 0;
    padding: 0;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    font-size: 16px;
  
    @media (max-width: 768px) {
      font-size: 15px;
    }
  
    @media (max-width: 480px) {
      font-size: 14px;
      //font-size: 3vmin;
    }
  }
  
  body {
    height: 100%;
    font-family: 'Roboto';
    line-height: 1.42;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    //color: $black;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
  }

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main {
    flex: 1 0 auto;
}