.header__socials
.header__user
.header__burger
    svg.header__burger-icon
        use(xlink:href="#hamburger")
.header__arrow
    a(href="#0").header__arrow-link
        svg.header__arrow-icon
            use(xlink:href="#arrow_down")