- var title = document.title
.header__bg.js-header__bg
.header__socials.js-header__socials
.header__burger
    .burger.js-burger
        span.burger__line
        span.burger__line
        span.burger__line
.overlay.js-overlay
    nav.overlay__menu
        ul.overlay__list
            li.overlay__item
                a(href="/works").overlay__link Мои работы
            li.overlay__item
                a(href="/blog").overlay__link Блог
            li.overlay__item
                a(href="/about").overlay__link Обо мне
            li.overlay__item
                a(href="/").overlay__link Авторизация
.header__user.js-header__user

if title != 'Блог'
    .header__arrow
        a(href="#0").header__arrow-link
            svg.header__arrow-icon
                use(xlink:href="#arrow_down")
    svg.header__portfolio-icon.js-header__portfolio-icon
        use(xlink:href="#portfolio_header")
