@import "../../scss/mixins";
@import "../../scss/colors";
@import "../../scss/main";
@import "../../scss/title";

$headercolor:   #93c42e;
$bgcolor:       #f8f9f5;
$green:         #4e8839;
$white:         #fff;
$greenbtn:      #6c9c5a;
$black:         #000;
$comment:       #5d5a55;
$post:          #373e42;

.work {
    position: relative;
    background-color: $bgcolor;
    // margin-bottom: 47px;

    &__triangle {
        position: absolute;
        bottom: 100%;
        fill: $bgcolor;
    }

    &__title {
        margin: -15px 0 30px 0;
        
        &-bg {
            fill: $headercolor;
            opacity: .1;
            margin: 0 auto;
            display: block;
            width: 506px;
            max-width: 100%;
        }

        &-wrapper {
            position: relative;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
      
        &-text {
            position: absolute;
            letter-spacing: 0;
        }
    }
}

.blur {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-bottom: 56px;
    }

    .title {
        line-height: 1.05;
        padding-bottom: 33px;
    }

    &__reviews {
        margin-bottom: 65px;
    }

    &__arrow {
        transform: scaleY(-1);
        display: inline-block;
        margin: 70px 0;

        &-link {
            display: inline-block;
        }

        &-icon {
            width: 26px;
            height: 16px;
            fill: rgba(#fff, .7);
        }
    }
}

.reviews {
    font-style: italic;
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        justify-content: space-between;

        @media (max-width: 480px) {
            flex-direction: column;
        }
    }

    &__item {
        max-width: 360px;
        display: inline-block;
        vertical-align: top;
        margin-left: 16px;
        padding: 0 15px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__image {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 16px auto;
    }

    &__avatar {
        max-width: 100%;
    }

    &__comment {
        color: $comment;
        position: relative;
        margin-bottom: 18px;

        &-text {
            position: relative;
            z-index: 10;
            line-height: 1.65;
        }

        &-icon {
            width: 75px;
            height: 61px;
            opacity: .1;
            fill: $headercolor;
            position: absolute;
            top: -23px;
            left: 2px;
            z-index: 1;
        }
    }

    &__author {
        margin-left: 115px;
        
        &-name {
            font-weight: 700;
            display: block;
            color: $green;
            margin-bottom: 2px;
        }

        &-post {
            color: $post;
            margin-left: 11px;
        }
    }
}

.feedback {
    overflow: hidden;
    border-radius: 5px;
}

.feedback-bg {
    background: url('../../img/rumors-bg.jpg') center no-repeat;
    filter: blur(5px);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.blur {
    position: relative;
    background: url('../../img/rumors-bg.jpg') center no-repeat;
    background-size: cover;
    
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &__img {
        display: block;
        max-width: 100%;
    }
}

.form {
    width: 380px;
    position: relative;

    @media(max-width: 480px) {
        width: 300px;
    }

    &__tag {
        position: relative;
        z-index: 2;
    }

    &__title {
        max-width: 100%;
        margin-bottom: 31px;
    }

    &__body {
        background-color: rgba(#dadbd6, .4);

        padding: 20px;
    }

    &__input {
        width: 100%;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        padding: 20px;
        border: none;
        outline: none;
        margin-bottom: 20px;

        @include placeholder {
            color: $comment;
        }
    }

    &__textarea {
        width: 100%;
        height: 140px;
        resize: none;
        border-radius: 25px;
        padding: 20px;
        border: none;
        outline: none;
    }

    &__controls {
        display: flex;
    }

    &__btn {
        width: 50%;
        height: 45px;
        line-height: 45px;
        background-color: #7da66d;
        border: none;
        outline: none;
        color: #fff;
        font-family: 'Roboto Medium';
        font-weight: 500;
        cursor: pointer;

        border-left: 1px solid rgba(#dee3e7, .5);
        border-right: 1px solid rgba(#dee3e7, .5);

        flex: 1 1 0;
        transition: all 0.2s ease-in-out;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }

        &:hover {
            background-color: #649551;
        }
    }
}