* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;

  @include tablets {
    font-size: 15px;
  }

  @include phones {
    font-size: 14px;
    //font-size: 3vmin;
  }
}

body {
  font-family: 'Roboto';
  line-height: 1.42;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  //color: $black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}