h2.contacts__title.title.title--middle Контакты
ul.contacts__list
    li.contacts__item
        a(href="skype:junyxiz_alpha?call").contacts__link
            svg.contacts__icon.contacts__icon--sk
                use(xlink:href="#skype")
            span.contacts__span junyxiz_alpha
    li.contacts__item
        a(href="skype:junyxiz_alpha?call").contacts__link
            svg.contacts__icon.contacts__icon--email
                use(xlink:href="#email")
            span.contacts__span pertik@list.ru
    li.contacts__item
        a(href="tel:89876610471").contacts__link
            svg.contacts__icon.contacts__icon--tel
                use(xlink:href="#phone")
            span.contacts__span +7 987 661 04 71
    li.contacts__item
        a(href="skype:junyxiz_alpha?call").contacts__link
            svg.contacts__icon.contacts__icon--marker
                use(xlink:href="#map-marker")
            span.contacts__span Чебоксары, ул. Калинина