$lightgreen:    #6c9c5a;
$green:         #4e8839;
$olive:         #566358;
$darkolive:     #373e42;

$darkgreen:     #122620;
$greentext:     #455a64;
$gray:          #f0efe9;
$lightgay:      #c4cbcd;
$red:           #e44845;

$white:         #ffffff;
$black:         #000000;

$desktops: 1200px;
$tablets: 768px;
$phones: 480px;