@import "../../scss/mixins";
@import "../../scss/colors";
@import "../../scss/main";
@import "../../scss/title";

$bgcolor:       #faf8f0;
$green:         #4e8839;
$border:        #6c9c5a;
$title:         #455a64;
$date:          #4e8839;
$desc:          #455a64;
$line:          #373e42; // o .07 h5

.header {

  &__user {
    top: 60%;
  }
}

.blog {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $bgcolor;
  padding-bottom: 4px;
  font-family: 'Roboto';
  font-weight: 400;
  padding-top: 55px;

  @media (max-width: 768px) {
    padding-top: 42px;
  }

  @media (max-width: 480px) {
    padding-top: 30px;
    padding-bottom: 0;
  }

  &__triangle {
    position: absolute;
    bottom: 100%;
    fill: $bgcolor;
  }

  &__title {
    position: relative;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 122px;

    @media (max-width: 1200px) {
      width: auto;
    }

    &-bg {
      fill: $white;
      opacity: .12;
      margin: 0 auto;
      display: block;
      width: 303px;
      height: 208px;
    }

    &-text {
      position: absolute;
      margin-top: -14px;
      margin-left: -5px;
    }
  }
}

.sidebar {
  padding: 8px 0 0 20px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 295px;

  @media (max-width: 1200px) {
    width: 24.59%;
  }

  @media (max-width: 768px) {
    display: none;
  }

  &__list {
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 7px;

    &--active {
      .sidebar__link {
        font-weight: 700;
        color: green;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__link {
    color: $desc;
    text-decoration: none;
    padding: 11px 17px 10px 0;
    display: inline-block;
    position: relative;
    line-height: 1.6;

    &:after {
      content: '';
      width: 3px;
      height: 100%;
      background-color: $border;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
    }
  }
}

.article {
  width: 66.5%;
  padding-right: 25px;
  margin-left: 6.3%;

  @media (max-width: 1200px) {
    width: 65%;
    margin-left: 8.15%;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
    padding: 0 25px;
  }

  @media (max-width: 480px) {
    padding: 0 10px;
  }

  &__list {
    width: 75.2%;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 1200px) {
      width: 90%;
    }

    @media (max-width: 768px) {
      width: auto;
    }
  }

  &__item {
    padding-bottom: 72px;
    border-bottom: 5px solid rgba($line, .07);
    margin-bottom: 58px;

    @media (max-width: 768px) {
      padding-bottom: 63px;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      padding-bottom: 44px;
    }

    @media (max-width: 480px) {
      padding-bottom: 22px;
      margin-bottom: 25px;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__desc {
    color: $desc;
    line-height: 26px;
    
    @media (max-width: 768px) {
      letter-spacing: -0.54px;
      margin-bottom: 14px;
      line-height: 1.4;
    }

    @media (max-width: 480px) {
      line-height: 1.5;
      letter-spacing: 0;
    }

    p {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-family: 'Sansus Webissimo';
    font-size: 35px;
    color: $title;
    font-weight: 400;
    margin-bottom: 17px;
    line-height: 1.2;

    @media (max-width: 768px) {
      letter-spacing: -2.3px;
      margin-bottom: 7px;
    }

    @media (max-width: 480px) {
      font-size: 22px;
      letter-spacing: -0.45px;
      margin-bottom: 11px;
    }
  }

  &__date {
    color: $date;
    display: inline-block;
    margin-bottom: 18px;

    @media (max-width: 768px) {
      margin-bottom: 9px;
      letter-spacing: -0.5px;
    }
    
    @media (max-width: 480px) {
      margin-bottom: 12px;
      letter-spacing: 0;
    }
  }

  &__application {

    img {
      max-width: 100%;
    }
  }
}