extends ../base

block title
    | Index page
block content
    .blog
        svg(viewBox="0 0 1200 108" preserveAspectRatio="none").blog__triangle
            use(xlink:href="#bg")
        .sidebar
            ul.sidebar__list
                li.sidebar__item.sidebar__item--active
                    a(href="#0").sidebar__link Самое важное в SASS
                li.sidebar__item
                    a(href="#0").sidebar__link Приёмы в вёрстке, без которых не обходится ни один сайт
                li.sidebar__item
                    a(href="#0").sidebar__link Самый необходимый набор Gulp плагинов
                li.sidebar__item
                    a(href="#0").sidebar__link Почему я выбрал Jade
        .article
            ul.article__list
                li.article__item
                    h3.article__title Самое важное в SASS
                    span.article__date 22 ноября 2016
                    .article__desc
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    .article__application
                        img(src=require("../../img/code.png"))
                li.article__item
                    h3.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
                    span.article__date 13 ноября 2016
                    .article__desc
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.