ul.socials__list
    li.socials__item
        a(href="https://vk.com/id138371395" target="_blank").socials__link
            svg.icon.icon--vk
                use(xlink:href="#vk")
    li.socials__item
        a(href="https://github.com/FeerAlex" target="_blank").socials__link
            svg.icon.icon--gh
                use(xlink:href="#github")
    li.socials__item
        a(href="https://www.linkedin.com/in/александр-феер-b1752114b" target="_blank").socials__link
            svg.icon.icon--in
                use(xlink:href="#in")