ul.socials__list
    li.socials__item
        a(href="#").socials__link
            svg.icon.icon--vk
                use(xlink:href="#vk")
    li.socials__item
        a(href="#").socials__link
            svg.icon.icon--gh
                use(xlink:href="#github")
    li.socials__item
        a(href="#").socials__link
            svg.icon.icon--in
                use(xlink:href="#in")