$white: #fff;

.user {
    text-align: center;
    color: $white;

    &__photo {
        width: 141px;
        height: 141px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 20px auto;

        @media (max-width: 480px) {
            margin-bottom: 25px;
        }
    }

    &__avatar {
        max-width: 100%;
        max-height: 100%;
    }

    &__name {
        font-family: 'Roboto Medium';
        font-size: 35px;
        font-weight: 500;
        white-space: nowrap;

        @media (max-width: 480px) {
            font-size: 20px;
            letter-spacing: 0.5px;
            margin-bottom: 5px;
        }
    }

    &__desc {
        font-family: 'Roboto';
        font-weight: 400;
        white-space: nowrap;
    }

    &--intro {

        .user__photo {
            margin: 0 auto 13px auto;
        }

        .user__name {
            font-size: 28px;
        }
    }
}